extends layout

block content
  h1= title
  - var image = ["Drink.jpg", "Monster.jpg", "Fantasy coin.jpg", "Coin.jpg", "Building.jpg"]
  - for (let i = 0; i < 3; i++)
    - var random = Math.floor(Math.random()* 5)
    - var selected_image = image[random]
    img(src=`/stylesheets/images/${selected_image}`, alt=`Random Image ${i+1}`, height="200", width="200")